{{#section 'header'}}
    <title>Milk Tea Labs | Cart</title>
    <link rel="stylesheet" href="/css/cart.css">
    <script src="/scripts/cart.js"></script>
{{/section}}


 
<div class="cartCont">
    <div style="color:white; text-align:center;">
        <h1><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Cart</h1>
    </div>
    <div class="containerCart table-responsive">
        
            <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Order</th>
                            <th><span style="position:relative; left:50px;">Qty.</span></th>
                            <th></th>
                            <th><span style="position:relative;left:100px;">Price</span></th>
                            <th><span style="position:relative;left:60px;">Subtotal</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cart.cartItems}}
                            <tr class='roe'>
                                <td class='cartPicCont'><img src="{{product.img}}" class='cartPic'></td>
                                <td><span class='itemName'>{{product.name}}</span></td>
                                <td class="qtyCont"><img src="/img/minus.png" class="minus plusminBtn"><input type="text" id="milkNum" value='{{qty}}' readonly><img src="/img/add.png" class="plus plusminBtn"></td>
                                <td class='delButton'><img src="/img/close.png" class='closePic'></td>
                                <td><span class='cartPrice'>${{product.price}}.00</span></td>
                                <td><span class='cartPrice'>${{product.price}}.00</span></td>
                            </tr>
                        {{/each}}
                    </tbody>
              </table>
              <div class="total" style="float:right;">
                        <span style="position: relative;left: -23px;">$450.00</span><br>
                        <button type="button" class="btn btn-success" id="btnCheck">Checkout</button>
              </div>
    </div>
</div>