{{#section 'header'}}
    <title>Milk Tea Labs | Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/scripts/profile.js"></script>
{{/section}}

{{> messages}}

<div>
    <form class="EditProfile" id="updateUser">
        <div class="inputsCont">
            <input type="hidden" id="userID" name="custId" value="{{userID}}">
            
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Username" name="name" value="{{name}}" id='updatename' required>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" value="{{username}}" id='updateusername'required readonly>

            <label for="password"><b>Password</b></label>
            <button id="passBtnMod" class="btn btn-primary" type="button">Change Password</button><br><br>
            
            <label for="address"><b>Address</b></label>
            <input type="text" placeholder="Enter Address" name="address" value="{{address}}" id='updateaddress' required>

            <button type="submit" id="btnSaveChange" class="btn btn-primary btnLogReg"><span class="fas fa-address-card" style='font-size:20px'></span>&nbsp;&nbsp;Save Changes</button>
        </div>
    </form>
</div>





<!--MAKE MODAL FOR PASSWORD-->
<div id="passmodalCont" class="modal">
  <!-- Modal content -->
  {{> messages}}
  <div class="pass-modal-content">
    <span class="close">&times;</span>
    <form class="passFormModal" id="{{userID}}">
        <label for="currPass"><b>Current Password</b></label>
        <input type="password" placeholder="" name="currPass" id='updateCurrPass' required>
        
        <label for="newPass1"><b>New Password</b></label>
        <input type="password" placeholder="" name="newPass1"  id='updateNewPass1' required>
        
        <label for="newPass2"><b>Confirm New Password</b></label>
        <input type="password" placeholder="" name="newPass2"  id='updateNewPass2' required>
        
        <button type="button" id="btnSavePass" class="btn btn-success">Confirm</button>
    </form>
  </div>
</div>
